In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv("world-happiness-report.csv")
df2_full=pd.read_csv("world-happiness-report-2021.csv")
display(df1.head(1))
display(df2_full.head(1))

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.78,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253

In [4]:
#Je commence par supprimer les colonnes inu du df 2021 
df2=df2_full.drop(['Regional indicator','Standard error of ladder score','upperwhisker',
                   'lowerwhisker','Ladder score in Dystopia','Explained by: Log GDP per capita',
                   'Explained by: Social support','Explained by: Healthy life expectancy',
                   'Explained by: Freedom to make life choices','Explained by: Generosity',
                   'Explained by: Perceptions of corruption','Dystopia + residual'],axis=1)
#J'ajoute la colonne "year" pour pouvoir le concatener avec le df1
df2.insert(loc=1,column='year',value=2021)

In [5]:
#Je renomme mes colonnes avant de concatener
df2=df2.rename(columns={'Ladder score':'Life Ladder','Logged GDP per capita':'Log GDP per capita',
                        'Healthy life expectancy':'Healthy life expectancy at birth'})

#je réindex par rapport au df1
#df2.index=df2.index+1950
df2.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [6]:
#Je renomme mes colonnes avant de concatener
df2=df2.rename(columns={'Ladder score':'Life Ladder','Logged GDP per capita':'Log GDP per capita',
                        'Healthy life expectancy':'Healthy life expectancy at birth'})

#je réindex par rapport au df1
#df2.index=df2.index+1950
df2.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [7]:
#je concatene ensuite mes deux bases
df_global=pd.concat([df1,df2],axis=0)
df_global

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,2021,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,NaN,NaN
145,Botswana,2021,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,NaN,NaN
146,Rwanda,2021,3.415,7.676,0.552,61.400,0.897,0.061,0.167,NaN,NaN
147,Zimbabwe,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,NaN,NaN
148,Afghanistan,2021,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,NaN,NaN

In [8]:
#Je vais ajouter à notre df_global les continents comme il y a sur le df 2021
#j'appure le df2 pour faire un df que avec les continents
df_continents=df2_full[['Country name','Regional indicator']]

In [9]:
#Ici j'ajoute les continents au df_global en fesant une fusion du df_global et du df_continent
df_global2=df_global.merge(right=df_continents,on='Country name',how='outer')

In [10]:
#Ici je replace le regional indicator à une place plus adéquat
df_global2.insert(1,'Regional indicator',df_global2.pop('Regional indicator'))
df_global2.head()

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [11]:
#Je vérifie si il y a des nan dans la variable des continents
df_global2['Regional indicator'].isna().sum()

#Il y en a 63, on va voir de quels pays il sagit.

63

In [12]:
df_nan_continents=df_global2[df_global2['Regional indicator'].isna()]
df_nan_continents.groupby('Country name').agg('min').shape
#Il y a 17 pays auquels il manque le continent

(17, 11)

In [13]:
#J'ai donc pris ces 17 pays dans un fichier csv avec leur continent ainsi que tous les autres pays du df2021
df_continents=pd.read_csv("pays&continents.csv",sep=';')
df_continents

            Country name            Regional indicator
0                Finland                Western Europe
1                Denmark                Western Europe
2            Switzerland                Western Europe
3                Iceland                Western Europe
4            Netherlands                Western Europe
..                   ...                           ...
161          South Sudan  Middle East and North Africa
162                Sudan  Middle East and North Africa
163             Suriname   Latin America and Caribbean
164                Syria  Middle East and North Africa
165  Trinidad and Tobago   Latin America and Caribbean

[166 rows x 2 columns]

In [14]:
df_global2=df_global.merge(right=df_continents,on='Country name',how='outer')

In [15]:
df_global2['Regional indicator'].isna().sum()
#C'est bon il n'y a plus de Nan pour les continents

0

In [16]:
#Je replace la colonne 'regional indicator' à sa place
df_global2.insert(1,'Regional indicator',df_global2.pop('Regional indicator'))
df_global2.head()

#Voici notre Dataframe complet avec les années jusqu'en 2021 ainsi que tous les continents

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [17]:
df_global2.info()
#Les types de données ont l'air cohérents

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2098 entries, 0 to 2097
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2098 non-null   object
 1   Regional indicator                2098 non-null   object
 2   year                              2098 non-null   int64
 3   Life Ladder                       2098 non-null   float64
 4   Log GDP per capita                2062 non-null   float64
 5   Social support                    2085 non-null   float64
 6   Healthy life expectancy at birth  2043 non-null   float64
 7   Freedom to make life choices      2066 non-null   float64
 8   Generosity                        2009 non-null   float64
 9   Perceptions of corruption         1988 non-null   float64
 10  Positive affect                   1927 non-null   float64
 11  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 196.8+ KB

In [18]:
#Analyse des doublons : visiblement il n'y a pas de doublons
df_global2.duplicated().sum()

0

In [19]:
#On va regarder la coherence des données voir si il n'y a pas de pays mal orthographiés etc
df_global2['Country name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland region', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [20]:
df_global2.isna().sum()

Country name                          0
Regional indicator                    0
year                                  0
Life Ladder                           0
Log GDP per capita                   36
Social support                       13
Healthy life expectancy at birth     55
Freedom to make life choices         32
Generosity                           89
Perceptions of corruption           110
Positive affect                     171
Negative affect                     165
dtype: int64

In [ ]:
#On va maintenant, à partir du df_global2 pouvoir s'occuper des valeurs manquantes
#Ma stratégie serait de remplir les Nan avec la mediane des valeurs par pays sur les différentes années. 
#Dans le cas c'est infaisable car un pays aurait aucune valeurs de la variable en question on pourrait faire cela avec
#la médiane de la valeur par continent.
#Je commence alors par le faire pour les pays et si il reste des Nan je ferais grâce aux continents.

In [21]:
#Je test le clalcul de la mediane en fonction des variables de pays groupés
test=df_global2.groupby('Country name')['Perceptions of corruption'].agg('median')
test

Country name
Afghanistan    0.8710
Albania        0.8800
Algeria        0.7000
Angola         0.8700
Argentina      0.8510
                ...
Venezuela      0.8200
Vietnam        0.7890
Yemen          0.8145
Zambia         0.8110
Zimbabwe       0.8305
Name: Perceptions of corruption, Length: 166, dtype: float64

In [22]:
#Ici j'ai trié pour explorer les differentes variables, comprendre un peu les Nan
df_global2.sort_values('Perceptions of corruption').tail(50)

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1164,Malta,Western Europe,2013,6.380,10.422,0.942,71.96,0.909,0.410,NaN,0.660,0.370
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.50,0.916,0.025,NaN,NaN,0.295
1535,Qatar,Middle East and North Africa,2010,6.850,11.520,NaN,66.70,NaN,0.104,NaN,NaN,NaN
1536,Qatar,Middle East and North Africa,2011,6.592,11.553,0.857,67.02,0.905,0.012,NaN,0.761,0.328
1537,Qatar,Middle East and North Africa,2012,6.611,11.523,0.838,67.34,0.924,0.162,NaN,0.766,0.322
1538,Qatar,Middle East and North Africa,2015,6.375,11.486,NaN,68.30,NaN,NaN,NaN,NaN,NaN
1583,Saudi Arabia,Middle East and North Africa,2007,7.267,10.689,0.892,63.86,0.622,0.005,NaN,0.772,0.232
1586,Saudi Arabia,Middle East and North Africa,2010,6.307,10.693,0.880,64.40,0.678,-0.033,NaN,0.645,0.297
1587,Saudi Arabia,Middle East and North Africa,2011,6.700,10.758,0.830,64.60,0.603,-0.142,NaN,0.726,0.240
1588,Saudi Arabia,Middle East and North Africa,2012,6.396,10.779,0.867,64.80,0.560,-0.120,NaN,0.715,0.225
1589,Saudi Arabia,Middle East and North Africa,2013,6.495,10.776,0.827,65.00,0.661,-0.081,NaN,0.744,0.276
1590,Saudi Arabia,Middle East and North Africa,2014,6.278,10.783,0.818,65.20,0.762,-0.073,NaN,0.705,0.313
1591,Saudi Arabia,Middle East and North Africa,2015,6.345,10.798,0.820,65.40,0.820,-0.045,NaN,0.724,0.327
1592,Saudi Arabia,Middle East and North Africa,2016,6.474,10.792,0.890,65.70,0.774,-0.132,NaN,0.793,0.266
1593,Saudi Arabia,Middle East and North Africa,2017,6.294,10.764,0.840,66.00,0.814,-0.131,NaN,0.775,0.306
1594,Saudi Arabia,Middle East and North Africa,2018,6.356,10.771,0.868,66.30,0.855,-0.192,NaN,0.764,0.288
1595,Saudi Arabia,Middle East and North Africa,2019,6.561,10.757,0.912,66.60,0.891,-0.147,NaN,0.732,0.238
1596,Saudi Arabia,Middle East and North Africa,2020,6.560,10.701,0.890,66.90,0.884,-0.111,NaN,0.754,0.251
1640,Singapore,Southeast Asia,2006,6.463,11.168,0.904,73.60,0.757,0.138,NaN,0.751,0.267
1688,South Africa,Sub-Saharan Africa,2006,5.084,9.386,0.913,48.02,0.649,-0.084,NaN,0.802,0.223
1764,Sweden,Western Europe,2005,7.376,10.739,0.951,71.20,0.964,NaN,NaN,0.840,0.151
1904,Turkmenistan,Commonwealth of Independent States,2009,6.568,8.989,0.924,59.44,NaN,-0.102,NaN,0.781,0.152
1905,Turkmenistan,Commonwealth of Independent States,2011,5.792,9.182,0.964,60.04,NaN,0.018,NaN,0.639,0.122
1906,Turkmenistan,Commonwealth of Independent States,2012,5.464,9.269,0.946,60.28,0.786,-0.123,NaN,0.584,0.117
1907,Turkmenistan,Commonwealth of Independent States,2013,5.392,9.348,0.846,60.52,0.705,-0.071,NaN,0.599,0.160
1908,Turkmenistan,Commonwealth of Independent States,2014,5.787,9.427,0.909,60.76,0.805,0.032,NaN,0.695,0.154
1909,Turkmenistan,Commonwealth of Independent States,2015,5.791,9.472,0.960,61.00,0.701,0.093,NaN,0.705,0.301
1910,Turkmenistan,Commonwealth of Independent States,2016,5.887,9.515,0.929,61.40,0.749,0.005,NaN,0.636,0.255
1911,Turkmenistan,Commonwealth of Independent States,2017,5.229,9.561,0.908,61.80,0.720,0.066,NaN,0.521,0.350
1912,Turkmenistan,Commonwealth of Independent States,2018,4.621,9.605,0.984,62.20,0.858,0.260,NaN,0.612,0.189
1913,Turkmenistan,Commonwealth of Independent States,2019,5.474,9.651,0.982,62.60,0.892,0.285,NaN,0.510,0.183
1950,United Arab Emirates,Middle East and North Africa,2011,7.119,10.935,0.881,66.42,0.889,0.071,NaN,0.763,0.216
1951,United Arab Emirates,Middle East and North Africa,2012,7.218,10.958,0.856,66.44,0.920,NaN,NaN,0.768,0.224
1952,United Arab Emirates,Middle East and North Africa,2013,6.621,11.001,0.864,66.46,0.936,NaN,NaN,NaN,0.291
1953,United Arab Emirates,Middle East and North Africa,2014,6.540,11.041,NaN,66.48,NaN,NaN,NaN,NaN,NaN
1954,United Arab Emirates,Middle East and North Africa,2015,6.568,11.086,0.824,66.50,0.915,0.201,NaN,0.761,0.296
1955,United Arab Emirates,Middle East and North Africa,2016,6.831,11.105,0.849,66.70,0.949,0.131,NaN,0.775,0.245
1956,United Arab Emirates,Middle East and North Africa,2017,7.039,11.115,0.836,66.90,0.962,0.216,NaN,0.795,0.208
1957,United Arab Emirates,Middle East and North Africa,2018,6.604,11.112,0.851,67.10,0.944,0.054,NaN,0.787,0.302
1958,United Arab Emirates,Middle East and North Africa,2019,6.711,11.114,0.862,67.30,0.911,0.129,NaN,0.793,0.284
1959,United Arab Emirates,Middle East and North Africa,2020,6.458,11.053,0.827,67.50,0.942,0.060,NaN,0.752,0.298
2010,Uzbekistan,Commonwealth of Independent States,2008,5.311,8.339,0.894,62.32,0.831,-0.023,NaN,0.714,0.187
2018,Uzbekistan,Commonwealth of Independent States,2016,5.893,8.756,0.945,64.50,0.984,0.208,NaN,0.842,0.147
2039,Vietnam,Southeast Asia,2006,5.294,8.335,0.888,65.86,0.886,0.015,NaN,0.682,0.204
2047,Vietnam,Southeast Asia,2014,5.085,8.716,0.792,67.14,NaN,0.000,NaN,0.701,0.241
2048,Vietnam,Southeast Asia,2015,5.076,8.770,0.849,67.30,NaN,0.086,NaN,0.642,0.232
2050,Vietnam,Southeast Asia,2017,5.175,8.876,NaN,67.70,NaN,NaN,NaN,NaN,NaN
2054,Yemen,Middle East and North Africa,2007,4.477,8.214,0.825,53.40,0.673,0.011,NaN,0.592,0.379
2062,Yemen,Middle East and North Africa,2016,3.826,7.715,0.775,55.10,0.533,-0.151,NaN,0.469,0.228
2063,Yemen,Middle East and North Africa,2017,3.254,7.578,0.790,55.90,0.595,-0.147,NaN,0.455,0.295

In [23]:
#Ici je fais un groupement par pays toujours dans le but d'explorer un peu les données
df_global2[df_global2['Country name']=='Oman']

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.5,0.916,0.025,NaN,NaN,0.295

In [24]:
#J'applique pour chaque variable une fonction qui vient remplir les Nan par la mediane du groupement pas pays de la variable
df_global2['Perceptions of corruption']=df_global2.groupby('Country name')['Perceptions of corruption'].transform(lambda x : x.fillna(x.median()))
df_global2['Positive affect']=df_global2.groupby('Country name')['Positive affect'].transform(lambda x : x.fillna(x.median()))
df_global2['Negative affect']=df_global2.groupby('Country name')['Negative affect'].transform(lambda x : x.fillna(x.median()))
df_global2['Generosity']=df_global2.groupby('Country name')['Generosity'].transform(lambda x : x.fillna(x.median()))
df_global2['Freedom to make life choices']=df_global2.groupby('Country name')['Freedom to make life choices'].transform(lambda x : x.fillna(x.median()))
df_global2['Healthy life expectancy at birth']=df_global2.groupby('Country name')['Healthy life expectancy at birth'].transform(lambda x : x.fillna(x.median()))
df_global2['Social support']=df_global2.groupby('Country name')['Social support'].transform(lambda x : x.fillna(x.median()))
df_global2['Log GDP per capita']=df_global2.groupby('Country name')['Log GDP per capita'].transform(lambda x : x.fillna(x.median()))

In [25]:
#On vérifie les Nan de nouveau
df_global2.isna().sum()

#On comprend ici que certains Nan n'ont pas pu etre remplis par manque de donnée et impossibilité de calculer la mediane avec rien

Country name                         0
Regional indicator                   0
year                                 0
Life Ladder                          0
Log GDP per capita                  12
Social support                       1
Healthy life expectancy at birth     4
Freedom to make life choices         0
Generosity                          12
Perceptions of corruption            2
Positive affect                      3
Negative affect                      2
dtype: int64

In [ ]:
#J'explore df_global2 pour les lignes qui contiennent encore des Nan
#df_global2[df_global2.isna().any(axis=1)]

#par manque de données on va emmetre l'hypothese que ces pays sont à des scores de q1 par rapport au continent auxquel ils appartiennt

In [26]:
df_global2['Perceptions of corruption']=df_global2.groupby('Regional indicator')['Perceptions of corruption'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Positive affect']=df_global2.groupby('Regional indicator')['Positive affect'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Negative affect']=df_global2.groupby('Regional indicator')['Negative affect'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Generosity']=df_global2.groupby('Regional indicator')['Generosity'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Healthy life expectancy at birth']=df_global2.groupby('Regional indicator')['Healthy life expectancy at birth'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Social support']=df_global2.groupby('Regional indicator')['Social support'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Log GDP per capita']=df_global2.groupby('Regional indicator')['Log GDP per capita'].transform(lambda x : x.fillna(x.quantile(q=0.25)))

In [27]:
df_global2.isna().sum()

#Nous avons remplie tous les Nan

Country name                        0
Regional indicator                  0
year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

In [28]:
df_global2

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...,...
2093,Zimbabwe,Sub-Saharan Africa,2017,3.638,8.016,0.754,55.000,0.753,-0.098,0.751,0.806,0.224
2094,Zimbabwe,Sub-Saharan Africa,2018,3.616,8.049,0.775,55.600,0.763,-0.068,0.844,0.710,0.212
2095,Zimbabwe,Sub-Saharan Africa,2019,2.694,7.950,0.759,56.200,0.632,-0.064,0.831,0.716,0.235
2096,Zimbabwe,Sub-Saharan Africa,2020,3.160,7.829,0.717,56.800,0.643,-0.009,0.789,0.703,0.346
2097,Zimbabwe,Sub-Saharan Africa,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,0.715,0.218

In [ ]:
#Maintenant que notre df est entier, sans valeurs manquantes, sans fautes ni doublons, 
#nous pourrions reflechir à en faire une version viable pour un modèle de machine learning.

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import f1_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [30]:
df_global2 = df_global2.drop("Country name", axis = 1)

In [31]:
df_global2.head()

,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [32]:
#On separe les variables explicatives et la variable cible
feats = df_global2.drop(["Life Ladder"], axis=1)
target = df_global2["Life Ladder"]

In [33]:
#On separe le jeu de donnees en un jeu d entrainement et jeu de test
X_train, X_test, y_train, y_test = train_test_split(feats, target, test_size=0.25, random_state = 42)

In [34]:
df_global2["Regional indicator"].value_counts()

Regional indicator
Sub-Saharan Africa                    438
Latin America and Caribbean           309
Western Europe                        292
Middle East and North Africa          266
Central and Eastern Europe            242
Commonwealth of Independent States    182
Southeast Asia                        125
South Asia                             94
East Asia                              88
North America and ANZ                  62
Name: count, dtype: int64

In [35]:
X_train_new = pd.get_dummies(X_train, columns=["Regional indicator"])
X_train_new

,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Regional indicator_Central and Eastern Europe,Regional indicator_Commonwealth of Independent States,Regional indicator_East Asia,Regional indicator_Latin America and Caribbean,Regional indicator_Middle East and North Africa,Regional indicator_North America and ANZ,Regional indicator_South Asia,Regional indicator_Southeast Asia,Regional indicator_Sub-Saharan Africa,Regional indicator_Western Europe
1649,2016,11.419,0.925,76.200,0.904,0.143,0.047,0.824,0.1110,False,False,False,False,False,False,False,True,False,False
1699,2017,9.450,0.870,56.100,0.787,-0.129,0.865,0.785,0.2680,False,False,False,False,False,False,False,False,True,False
1613,2007,9.532,0.844,65.600,0.453,-0.165,0.905,0.576,0.3340,True,False,False,False,False,False,False,False,False,False
782,2016,10.904,0.985,73.000,0.952,0.281,0.719,0.874,0.1580,False,False,False,False,False,False,False,False,False,True
1137,2012,10.005,0.841,65.920,0.848,0.017,0.847,0.867,0.1770,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,2019,7.449,0.611,52.400,0.718,0.074,0.874,0.513,0.4380,False,False,False,False,False,False,False,False,True,False
1095,2010,11.592,0.952,71.700,0.908,0.096,0.423,0.809,0.2160,False,False,False,False,False,False,False,False,False,True
1130,2021,6.958,0.537,57.948,0.780,0.038,0.729,0.687,0.2615,False,False,False,False,False,False,False,False,True,False
1294,2008,7.686,0.818,58.200,0.618,0.291,0.900,0.745,0.1530,False,False,False,False,False,False,True,False,False,False
860,2006,10.389,0.927,71.120,0.817,0.141,0.905,0.696,0.3080,False,False,False,False,True,False,False,False,False,False

In [36]:
X_test_new = pd.get_dummies(X_test, columns=["Regional indicator"])
X_test_new

,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Regional indicator_Central and Eastern Europe,Regional indicator_Commonwealth of Independent States,Regional indicator_East Asia,Regional indicator_Latin America and Caribbean,Regional indicator_Middle East and North Africa,Regional indicator_North America and ANZ,Regional indicator_South Asia,Regional indicator_Southeast Asia,Regional indicator_Sub-Saharan Africa,Regional indicator_Western Europe
1005,2011,8.374,0.891,61.52,0.748,-0.155,0.932,0.681,0.151,False,True,False,False,False,False,False,False,False,False
1078,2006,10.046,0.930,63.14,0.567,-0.295,0.967,0.621,0.254,True,False,False,False,False,False,False,False,False,False
67,2017,9.402,0.698,66.60,0.614,-0.147,0.865,0.625,0.437,False,True,False,False,False,False,False,False,False,False
867,2013,10.515,0.909,72.58,0.739,0.150,0.849,0.698,0.409,False,False,False,False,True,False,False,False,False,False
650,2021,9.585,0.671,64.30,0.783,-0.238,0.655,0.559,0.243,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,2007,9.117,0.548,65.04,0.464,-0.267,0.697,0.427,0.236,False,True,False,False,False,False,False,False,False,False
1034,2015,10.185,0.879,65.90,0.656,-0.077,0.808,0.608,0.228,True,False,False,False,False,False,False,False,False,False
543,2015,9.266,0.730,60.80,0.659,-0.089,0.684,0.610,0.344,False,False,False,False,True,False,False,False,False,False
2004,2017,9.968,0.914,68.90,0.898,-0.091,0.627,0.836,0.280,False,False,False,True,False,False,False,False,False,False
1692,2010,9.430,0.917,50.50,0.739,-0.202,0.791,0.794,0.124,False,False,False,False,False,False,False,False,True,False

In [37]:
X_train_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1573 entries, 1649 to 860
Data columns (total 19 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   year                                                   1573 non-null   int64
 1   Log GDP per capita                                     1573 non-null   float64
 2   Social support                                         1573 non-null   float64
 3   Healthy life expectancy at birth                       1573 non-null   float64
 4   Freedom to make life choices                           1573 non-null   float64
 5   Generosity                                             1573 non-null   float64
 6   Perceptions of corruption                              1573 non-null   float64
 7   Positive affect                                        1573 non-null   float64
 8   Negative affect                                        1573 non-null   float64
 9   Regional indicator_Central and Eastern Europe          1573 non-null   bool
 10  Regional indicator_Commonwealth of Independent States  1573 non-null   bool
 11  Regional indicator_East Asia                           1573 non-null   bool
 12  Regional indicator_Latin America and Caribbean         1573 non-null   bool
 13  Regional indicator_Middle East and North Africa        1573 non-null   bool
 14  Regional indicator_North America and ANZ               1573 non-null   bool
 15  Regional indicator_South Asia                          1573 non-null   bool
 16  Regional indicator_Southeast Asia                      1573 non-null   bool
 17  Regional indicator_Sub-Saharan Africa                  1573 non-null   bool
 18  Regional indicator_Western Europe                      1573 non-null   bool
dtypes: bool(10), float64(8), int64(1)
memory usage: 138.3 KB

In [38]:
X_test_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 1005 to 1692
Data columns (total 19 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   year                                                   525 non-null    int64
 1   Log GDP per capita                                     525 non-null    float64
 2   Social support                                         525 non-null    float64
 3   Healthy life expectancy at birth                       525 non-null    float64
 4   Freedom to make life choices                           525 non-null    float64
 5   Generosity                                             525 non-null    float64
 6   Perceptions of corruption                              525 non-null    float64
 7   Positive affect                                        525 non-null    float64
 8   Negative affect                                        525 non-null    float64
 9   Regional indicator_Central and Eastern Europe          525 non-null    bool
 10  Regional indicator_Commonwealth of Independent States  525 non-null    bool
 11  Regional indicator_East Asia                           525 non-null    bool
 12  Regional indicator_Latin America and Caribbean         525 non-null    bool
 13  Regional indicator_Middle East and North Africa        525 non-null    bool
 14  Regional indicator_North America and ANZ               525 non-null    bool
 15  Regional indicator_South Asia                          525 non-null    bool
 16  Regional indicator_Southeast Asia                      525 non-null    bool
 17  Regional indicator_Sub-Saharan Africa                  525 non-null    bool
 18  Regional indicator_Western Europe                      525 non-null    bool
dtypes: bool(10), float64(8), int64(1)
memory usage: 46.1 KB

In [41]:
#1-Classification
#Logistique regression
from sklearn.linear_model import LogisticRegression

reglog = LogisticRegression()
reglog.fit(X_train_new, y_train)

print('Score sur ensemble train', reglog.score(X_train_new, y_train))
print('Score sur ensemble test', reglog.score(X_test_new, y_test))

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [45]:
df_global2_encoded["Regional indicator_Southeast Asia"]

1005    False
1078    False
67      False
867     False
650     False
        ...
636     False
1034    False
543     False
2004    False
1692    False
Name: Regional indicator_Southeast Asia, Length: 525, dtype: bool

In [ ]:
from sklearn.metrics import classification_report

y_pred = reglog.predict(X_test)

display(pd.crosstab(y_test,y_pred, rownames=['Realité'], colnames=['Prédiction']))


print(classification_report(y_test, y_pred, ))

In [38]:
#DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

print('Score sur ensemble train', dtc.score(X_train, y_train))
print('Score sur ensemble test', dtc.score(X_test, y_test))

ValueError: could not convert string to float: 'Southeast Asia'

In [ ]:
from sklearn.metrics import classification_report

y_pred = dtc.predict(X_test)

display(pd.crosstab(y_test,y_pred, rownames=['Realité'], colnames=['Prédiction']))
print(classification_report(y_test, y_pred))

In [ ]:
#RandomForest 
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

print('Score sur ensemble train', rf.score(X_train, y_train))
print('Score sur ensemble test', rf.score(X_test, y_test))

In [ ]:
from sklearn.metrics import classification_report

y_pred = rf.predict(X_test)

print(pd.crosstab(y_test,y_pred))
print(classification_report(y_test, y_pred))

In [42]:
#2-Regression
#Régression linéaire
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train_new, y_train)
print("score du modèle sur train est :", regressor.score(X_train_new, y_train))

print("score du modèle sur test est :", regressor.score(X_test_new, y_test))

score du modèle sur train est : 0.7981195187883428
score du modèle sur test est : 0.7693518479440955

In [45]:
#DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor
dtr= DecisionTreeRegressor(random_state=42)

dtr.fit(X_train_new,y_train)

print("score du modèle sur train est :",dtr.score(X_train_new,y_train))
print("score du modèle sur test est :" ,dtr.score(X_test_new,y_test))

score du modèle sur train est : 1.0
score du modèle sur test est : 0.75203825501022

In [47]:
#Random Forest Regressor 
from sklearn.ensemble import RandomForestRegressor 

regressor = RandomForestRegressor(random_state=42) 
  
regressor.fit(X_train_new, y_train)

print('Score sur ensemble train',regressor.score(X_train_new, y_train))
print('Score sur ensemble test',regressor.score(X_test_new, y_test))

Score sur ensemble train 0.9847597141558986
Score sur ensemble test 0.86842190622801