In [1]:
import pandas as pd
import numpy as np

In [2]:
#J'importe les DataFrame
df1=pd.read_csv('../data/world-happiness-report.csv')
df2_full=pd.read_csv('../data/world-happiness-report-2021.csv')
display(df1.head(1))
display(df2_full.head(1))

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.78,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253

In [3]:
#Je commence par supprimer les colonnes inu du df 2021 
df2=df2_full.drop(['Regional indicator','Standard error of ladder score','upperwhisker',
                   'lowerwhisker','Ladder score in Dystopia','Explained by: Log GDP per capita',
                   'Explained by: Social support','Explained by: Healthy life expectancy',
                   'Explained by: Freedom to make life choices','Explained by: Generosity',
                   'Explained by: Perceptions of corruption','Dystopia + residual'],axis=1)
#J'ajoute la colonne "year" pour pouvoir le concatener avec le df1
df2.insert(loc=1,column='year',value=2021)

In [4]:
#Je renomme mes colonnes avant de concatener
df2=df2.rename(columns={'Ladder score':'Life Ladder','Logged GDP per capita':'Log GDP per capita',
                        'Healthy life expectancy':'Healthy life expectancy at birth'})

#je réindex par rapport au df1
#df2.index=df2.index+1950
df2.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [5]:
#je concatene ensuite mes deux bases
df_global=pd.concat([df1,df2],axis=0)
df_global

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,2021,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,NaN,NaN
145,Botswana,2021,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,NaN,NaN
146,Rwanda,2021,3.415,7.676,0.552,61.400,0.897,0.061,0.167,NaN,NaN
147,Zimbabwe,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,NaN,NaN
148,Afghanistan,2021,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,NaN,NaN

In [6]:
#Je vais ajouter à notre df_global les continents comme il y a sur le df 2021
#j'appure le df2 pour faire un df que avec les continents
df_continents=df2_full[['Country name','Regional indicator']]

In [7]:
#Ici j'ajoute les continents au df_global en fesant une fusion du df_global et du df_continent
df_global2=df_global.merge(right=df_continents,on='Country name',how='outer')

In [8]:
#Ici je replace le regional indicator à une place plus adéquat
df_global2.insert(1,'Regional indicator',df_global2.pop('Regional indicator'))
df_global2.head()

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [10]:
#Je vérifie si il y a des nan dans la variable des continents
df_global2['Regional indicator'].isna().sum()

#Il y en a 63, on va voir de quels pays il sagit.

63

In [11]:
df_nan_continents=df_global2[df_global2['Regional indicator'].isna()]
df_nan_continents.groupby('Country name').agg('min').shape
#Il y a 17 pays auquels il manque le continent

(17, 11)

In [12]:
#J'ai donc pris ces 17 pays dans un fichier csv avec leur continent ainsi que tous les autres pays du df2021
df_continents=pd.read_csv('../data/pays&continents.csv',sep=';')
df_continents

            Country name            Regional indicator
0                Finland                Western Europe
1                Denmark                Western Europe
2            Switzerland                Western Europe
3                Iceland                Western Europe
4            Netherlands                Western Europe
..                   ...                           ...
161          South Sudan  Middle East and North Africa
162                Sudan  Middle East and North Africa
163             Suriname   Latin America and Caribbean
164                Syria  Middle East and North Africa
165  Trinidad and Tobago   Latin America and Caribbean

[166 rows x 2 columns]

In [13]:
df_global2=df_global.merge(right=df_continents,on='Country name',how='outer')

In [14]:
df_global2['Regional indicator'].isna().sum()
#C'est bon il n'y a plus de Nan pour les continents

0

In [15]:
#Je replace la colonne 'regional indicator' à sa place
df_global2.insert(1,'Regional indicator',df_global2.pop('Regional indicator'))
df_global2.head()

#Voici notre Dataframe complet avec les années jusqu'en 2021 ainsi que tous les continents

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [16]:
df_global2.info()
#Les types de données ont l'air cohérents

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2098 entries, 0 to 2097
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2098 non-null   object
 1   Regional indicator                2098 non-null   object
 2   year                              2098 non-null   int64
 3   Life Ladder                       2098 non-null   float64
 4   Log GDP per capita                2062 non-null   float64
 5   Social support                    2085 non-null   float64
 6   Healthy life expectancy at birth  2043 non-null   float64
 7   Freedom to make life choices      2066 non-null   float64
 8   Generosity                        2009 non-null   float64
 9   Perceptions of corruption         1988 non-null   float64
 10  Positive affect                   1927 non-null   float64
 11  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 196.8+ KB

In [17]:
#Analyse des doublons : visiblement il n'y a pas de doublons
df_global2.duplicated().sum()

0

In [18]:
#On va regarder la coherence des données voir si il n'y a pas de pays mal orthographiés etc
df_global2['Country name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland region', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [19]:
df_global2.isna().sum()

Country name                          0
Regional indicator                    0
year                                  0
Life Ladder                           0
Log GDP per capita                   36
Social support                       13
Healthy life expectancy at birth     55
Freedom to make life choices         32
Generosity                           89
Perceptions of corruption           110
Positive affect                     171
Negative affect                     165
dtype: int64

In [166]:
#On va maintenant, à partir du df_global2 pouvoir s'occuper des valeurs manquantes
#Ma stratégie serait de remplir les Nan avec la mediane des valeurs par pays sur les différentes années. 
#Dans le cas c'est infaisable car un pays aurait aucune valeurs de la variable en question on pourrait faire cela avec
#la médiane de la valeur par continent.
#Je commence alors par le faire pour les pays et si il reste des Nan je ferais grâce aux continents.

In [21]:
#Je test le clalcul de la mediane en fonction des variables de pays groupés
test=df_global2.groupby('Country name')['Perceptions of corruption'].agg('median')
test

Country name
Afghanistan    0.8710
Albania        0.8800
Algeria        0.7000
Angola         0.8700
Argentina      0.8510
                ...
Venezuela      0.8200
Vietnam        0.7890
Yemen          0.8145
Zambia         0.8110
Zimbabwe       0.8305
Name: Perceptions of corruption, Length: 166, dtype: float64

In [28]:
#Ici j'ai trié pour explorer les differentes variables, comprendre un peu les Nan
df_global2.sort_values('Perceptions of corruption').tail(50)

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1546,Romania,Central and Eastern Europe,2014,5.727,10.041,0.753,66.08,0.754,-0.100,0.958,0.654,0.331
441,Croatia,Central and Eastern Europe,2009,5.433,10.104,0.861,67.64,0.549,-0.271,0.958,0.637,0.272
208,Bosnia and Herzegovina,Central and Eastern Europe,2009,4.963,9.296,0.735,66.48,0.258,-0.026,0.959,0.572,0.390
1544,Romania,Central and Eastern Europe,2012,5.167,9.965,0.740,65.64,0.645,-0.112,0.959,0.556,0.343
1871,Trinidad and Tobago,Latin America and Caribbean,2008,6.696,10.295,0.858,62.08,0.838,0.087,0.959,0.817,0.184
685,Greece,Western Europe,2009,6.039,10.491,0.793,71.30,0.443,-0.293,0.959,0.649,0.254
1524,Portugal,Western Europe,2012,4.994,10.315,0.866,71.20,0.774,-0.097,0.959,0.729,0.370
688,Greece,Western Europe,2012,5.096,10.268,0.812,71.62,0.373,-0.305,0.959,0.581,0.352
804,Indonesia,Southeast Asia,2007,5.101,8.898,0.704,59.98,0.603,0.311,0.960,0.812,0.242
214,Bosnia and Herzegovina,Central and Eastern Europe,2015,5.117,9.457,0.656,66.90,0.631,-0.055,0.960,0.534,0.286
1080,Lithuania,Central and Eastern Europe,2008,5.554,10.199,0.914,63.82,0.621,-0.259,0.961,0.533,0.276
1614,Serbia,Central and Eastern Europe,2009,4.380,9.568,0.770,66.00,0.373,-0.178,0.961,0.544,0.435
336,Chad,Sub-Saharan Africa,2006,3.435,7.360,0.724,43.18,0.306,0.028,0.961,0.580,0.263
452,Croatia,Central and Eastern Europe,2020,6.508,10.166,0.923,71.40,0.837,-0.063,0.961,0.743,0.286
1934,Ukraine,Commonwealth of Independent States,2009,5.166,9.332,0.845,61.68,0.460,-0.241,0.962,0.583,0.189
809,Indonesia,Southeast Asia,2012,5.368,9.114,0.834,60.84,0.770,0.354,0.962,0.897,0.229
254,Bulgaria,Central and Eastern Europe,2013,3.993,9.813,0.829,66.00,0.603,-0.191,0.962,0.623,0.278
808,Indonesia,Southeast Asia,2011,5.173,9.069,0.825,60.62,0.878,0.438,0.962,0.864,0.273
1228,Mongolia,East Asia,2008,4.493,8.904,0.920,59.28,0.484,0.068,0.962,0.586,0.173
1547,Romania,Central and Eastern Europe,2015,5.777,10.083,0.787,66.30,0.796,-0.141,0.962,0.714,0.312
1523,Portugal,Western Europe,2011,5.220,10.353,0.856,71.00,0.875,-0.173,0.962,0.725,0.279
1082,Lithuania,Central and Eastern Europe,2010,5.066,10.085,0.882,64.50,0.519,-0.275,0.962,0.473,0.272
218,Bosnia and Herzegovina,Central and Eastern Europe,2019,6.016,9.609,0.873,68.10,0.722,0.079,0.963,0.633,0.238
1083,Lithuania,Central and Eastern Europe,2011,5.432,10.167,0.911,64.70,0.566,-0.148,0.964,0.570,0.275
1543,Romania,Central and Eastern Europe,2011,5.023,9.940,0.753,65.42,0.650,-0.140,0.964,0.543,0.294
2084,Zimbabwe,Sub-Saharan Africa,2008,3.174,7.461,0.843,44.14,0.344,-0.090,0.964,0.631,0.250
1615,Serbia,Central and Eastern Europe,2010,4.461,9.579,0.726,66.20,0.463,-0.170,0.965,0.532,0.415
286,Cambodia,Southeast Asia,2009,4.111,7.865,0.818,57.70,0.937,0.152,0.965,0.796,0.188
1079,Lithuania,Central and Eastern Europe,2007,5.808,10.163,0.941,63.48,0.590,-0.282,0.966,0.589,0.279
1078,Lithuania,Central and Eastern Europe,2006,5.954,10.046,0.930,63.14,0.567,-0.295,0.967,0.621,0.254
976,Kosovo,Central and Eastern Europe,2010,5.177,9.033,0.708,NaN,0.451,0.170,0.967,0.695,0.118
1541,Romania,Central and Eastern Europe,2009,5.368,9.949,0.812,64.96,0.606,-0.196,0.967,0.548,0.270
1932,Ukraine,Commonwealth of Independent States,2007,5.252,9.459,0.820,60.64,0.494,-0.241,0.968,0.636,0.208
805,Indonesia,Southeast Asia,2008,4.815,8.943,0.675,60.12,0.596,0.164,0.968,0.774,0.239
975,Kosovo,Central and Eastern Europe,2009,5.891,9.008,0.830,NaN,0.506,0.201,0.968,0.598,0.169
1221,Moldova,Commonwealth of Independent States,2016,5.578,9.300,0.837,63.60,0.557,-0.047,0.969,0.621,0.275
212,Bosnia and Herzegovina,Central and Eastern Europe,2013,5.124,9.382,0.767,66.82,0.390,0.042,0.970,0.544,0.315
811,Indonesia,Southeast Asia,2014,5.597,9.190,0.905,61.28,0.719,0.408,0.970,0.852,0.242
810,Indonesia,Southeast Asia,2013,5.292,9.155,0.794,61.06,0.781,0.376,0.973,0.893,0.249
442,Croatia,Central and Eastern Europe,2010,5.596,10.091,0.796,67.90,0.564,-0.237,0.973,0.607,0.259
1542,Romania,Central and Eastern Europe,2010,4.909,9.915,0.689,65.20,0.566,-0.085,0.974,0.596,0.344
213,Bosnia and Herzegovina,Central and Eastern Europe,2014,5.249,9.411,0.788,66.86,0.412,0.232,0.976,0.531,0.262
250,Bulgaria,Central and Eastern Europe,2007,3.844,9.715,0.832,65.10,0.566,-0.138,0.976,0.594,0.226
1616,Serbia,Central and Eastern Europe,2011,4.815,9.607,0.773,66.36,0.440,-0.185,0.977,0.545,0.410
443,Croatia,Central and Eastern Europe,2011,5.385,10.091,0.790,68.00,0.517,-0.198,0.977,0.598,0.273
1081,Lithuania,Central and Eastern Europe,2009,5.467,10.050,0.933,64.16,0.496,-0.303,0.979,0.526,0.271
766,Hungary,Central and Eastern Europe,2010,4.725,10.106,0.896,65.60,0.514,-0.145,0.983,0.656,0.235
1505,Poland,Central and Eastern Europe,2005,5.587,9.849,0.922,66.30,0.782,NaN,0.983,0.715,0.282
454,Cuba,Latin America and Caribbean,2006,5.418,NaN,0.970,68.44,0.281,NaN,NaN,0.647,0.277
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.50,0.916,0.025,NaN,NaN,0.295

In [41]:
#Ici je fais un groupement par pays toujours dans le but d'explorer un peu les données
df_global2[df_global2['Country name']=='Oman']

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.5,0.916,0.025,NaN,NaN,0.295

In [31]:
#J'applique pour chaque variable une fonction qui vient remplir les Nan par la mediane du groupement pas pays de la variable
df_global2['Perceptions of corruption']=df_global2.groupby('Country name')['Perceptions of corruption'].transform(lambda x : x.fillna(x.median()))
df_global2['Positive affect']=df_global2.groupby('Country name')['Positive affect'].transform(lambda x : x.fillna(x.median()))
df_global2['Negative affect']=df_global2.groupby('Country name')['Negative affect'].transform(lambda x : x.fillna(x.median()))
df_global2['Generosity']=df_global2.groupby('Country name')['Generosity'].transform(lambda x : x.fillna(x.median()))
df_global2['Freedom to make life choices']=df_global2.groupby('Country name')['Freedom to make life choices'].transform(lambda x : x.fillna(x.median()))
df_global2['Healthy life expectancy at birth']=df_global2.groupby('Country name')['Healthy life expectancy at birth'].transform(lambda x : x.fillna(x.median()))
df_global2['Social support']=df_global2.groupby('Country name')['Social support'].transform(lambda x : x.fillna(x.median()))
df_global2['Log GDP per capita']=df_global2.groupby('Country name')['Log GDP per capita'].transform(lambda x : x.fillna(x.median()))

In [33]:
#On vérifie les Nan de nouveau
df_global2.isna().sum()

#On comprend ici que certains Nan n'ont pas pu etre remplis par manque de donnée et impossibilité de calculer la mediane avec rien

Country name                         0
Regional indicator                   0
year                                 0
Life Ladder                          0
Log GDP per capita                  12
Social support                       1
Healthy life expectancy at birth     4
Freedom to make life choices         0
Generosity                          12
Perceptions of corruption            2
Positive affect                      3
Negative affect                      2
dtype: int64

In [42]:
#J'explore df_global2 pour les lignes qui contiennent encore des Nan
#df_global2[df_global2.isna().any(axis=1)]

#par manque de données on va emmetre l'hypothese que ces pays sont à des scores de q1 par rapport au continent auxquel ils appartiennt

In [43]:
df_global2['Perceptions of corruption']=df_global2.groupby('Regional indicator')['Perceptions of corruption'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Positive affect']=df_global2.groupby('Regional indicator')['Positive affect'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Negative affect']=df_global2.groupby('Regional indicator')['Negative affect'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Generosity']=df_global2.groupby('Regional indicator')['Generosity'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Healthy life expectancy at birth']=df_global2.groupby('Regional indicator')['Healthy life expectancy at birth'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Social support']=df_global2.groupby('Regional indicator')['Social support'].transform(lambda x : x.fillna(x.quantile(q=0.25)))
df_global2['Log GDP per capita']=df_global2.groupby('Regional indicator')['Log GDP per capita'].transform(lambda x : x.fillna(x.quantile(q=0.25)))

In [44]:
df_global2.isna().sum()

#Nous avons remplie tous les Nan

Country name                        0
Regional indicator                  0
year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

In [45]:
df_global2

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...,...
2093,Zimbabwe,Sub-Saharan Africa,2017,3.638,8.016,0.754,55.000,0.753,-0.098,0.751,0.806,0.224
2094,Zimbabwe,Sub-Saharan Africa,2018,3.616,8.049,0.775,55.600,0.763,-0.068,0.844,0.710,0.212
2095,Zimbabwe,Sub-Saharan Africa,2019,2.694,7.950,0.759,56.200,0.632,-0.064,0.831,0.716,0.235
2096,Zimbabwe,Sub-Saharan Africa,2020,3.160,7.829,0.717,56.800,0.643,-0.009,0.789,0.703,0.346
2097,Zimbabwe,Sub-Saharan Africa,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,0.715,0.218

In [ ]:
#Maintenant que notre df est entier, sans valeurs manquantes, sans fautes ni doublons, 
#nous pourrions reflechir à en faire une version viable pour un modèle de machine learning.